:root {
  --theme: #f4a300;
  --accent: #ffe08a;
  --bg: #fff5d1;
  --text: #333;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background-color: var(--bg);
  background-image: radial-gradient(var(--theme) 2px, transparent 2px),
                    radial-gradient(var(--theme) 2px, var(--bg) 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
  color: var(--text);
}

.container {
  max-width: 900px;
  padding: 20px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(199, 151, 6, 0.466);
  transition: transform 0.3s ease;
}

.profile-pic:hover {
  transform: scale(1.05);
}

.highlight {
  color: var(--theme);
}

h1 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  max-width: 600px;
  line-height: 1.6;
  font-weight: 400;
  margin: 0 auto;
  color: #555;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.btn {
  padding: 12px 24px;
  background-color: var(--theme);
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 30px; 
  box-shadow: 0 4px 8px rgba(244, 163, 0, 0.25);
  transition: all 0.3s ease;
  width: 170px;      
  text-align: center;
}

.d-grid {
  display: flex !important;
  flex-direction: column;
  align-items: center; 
  gap: 12px;           
}

.btn:hover {
  background-color: #ffd87a; 
  color: var(--text);  
  transform: scale(1.05);
}

.d-flex .btn {
  background-color: var(--theme) !important;  
  color: #fff !important;
  border-radius: 30px;                
  box-shadow: 0 4px 8px rgba(244, 163, 0, 0.25);
  font-weight: 600;
  width: 170px;
  text-align: center;
  transition: all 0.3s ease;
}

.d-flex .btn:hover {
  background-color: #ffd87a !important;  
  color: var(--text) !important;          
  transform: scale(1.05);
}


@media (max-width: 768px) {
  .container {
    margin-top: 130px;
    padding: 0 20px;
  }

  .profile-pic {
    width: 300px;
    height: 300px;
  }

  h1 {
    font-size: 32px;
  }

    .btn {
    font-size: 16px;
    padding: 10px 18px;
  }
}

#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--theme);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  transition: transform 0.4s ease;
}

.splash-logo {
  max-width: 300px;
  animation: popIn 0.6s ease forwards; 
}

@keyframes popIn {
  0% { transform: scale(0.6); }
  100% { transform: scale(1); }
}

#splash.hide {
  transform: translateY(-100%);
}








