
body {
    font-family: "Nunito", sans-serif;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    background-color: #fffee5;
    padding: 15px 0px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 10px rgba(173, 75, 0, 0.233);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo img {
    height: 40px:
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}


.nav-links a {
    text-decoration: none;
    font-weight: 600;
    color: #e67e22;
    transition: 0.3s;
}

.nav-links a:hover {
    color: rgb(253, 168, 140);
}

.nav-links a.active {
    color: #d35400;
    font-weight: bold;
    border-bottom: 2px solid #d35400;
    padding-bottom: 2px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: 0.3s;
}

.social-icons img:hover{
    color: rgb(253, 168, 140);
}
    

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 800px;
    width: 100%;
    padding: 20px;

}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 0px 4px 10px rgba(173, 75, 0, 0.233);
}

h1 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;
}

h3{
    font-size: 18px;
    max-width: 600px;
    line-height: 1.6;
    font-weight: 400;
}
.buttons, .contact-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.btn {
    padding: 10px 20px;
    background-color: coral;
    color: #fffee5;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(253, 168, 140);
}


/*from https://css-pattern.com/pills*/
html {
  --s: 92px;
  --c1: #ffefc7;
  --c2: #ffd5ad;
  
  background:
    repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%)
     0 0/calc(4*var(--s)) calc(2*var(--s)),
    conic-gradient(#0000 50%,var(--c2) 0)
     calc(var(--s)/2) 0/calc(2*var(--s)) 1%,
    radial-gradient(var(--c2) 70%,var(--c1) 72%)
     0 0/var(--s) var(--s);
}


